.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

h1 {
  grid-column: 4 / 10;
  grid-row: 1 / 2;
  text-align: center;
  padding: 10px;
}

nav#original.navigation {
  grid-column: 4 / 10;
  grid-row: 1 / 2;
  text-align: center;
 
 
}

div .blackLogo {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  image-resolution: from-image 300dpi;
}
div .pinkLogo {
  grid-column: 10 / 13;
  grid-row: 1 / 2;
}

footer {
  grid-column: 1 / 13;
  grid-row: 4 / 5;
  text-align: center;
}

/* nav {
    text-align: center;
    list-style: none;
}   */

li {
  display: inline;
   padding-right: 50px;
}
/* Decrease space between blockquote and  About us title and nav*/
blockquote {
  grid-column: 1 / 13;
  grid-row: 2 / 2.5;
  text-align: center;
}

.wrapper {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}

div#print-serivces.container > h2,
h3,
h4,
div,
p {
  grid-column: 5 / 9;
  grid-row: 3 / 4;
}
div#graphic-design.container {
  grid-column: 9 / 13;
  grid-row: 3 /4;
}
