/* Skeleton of pages below */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
}

nav#original.navigation,
h1 {
  grid-column: 4 / 10;
  grid-row: 1 / 2;
  text-align: center;
}

div.blackLogo > img#Black.logo {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  image-resolution: from-image 300dpi;
}
div.pinkLogo {
  grid-column: 10 / 13;
  grid-row: 1 / 2;
}

ul li {
  display: inline;
  list-style: none;
}

footer {
   grid-column:  1/ 13;
   grid-row: 4/5; 
   text-align: center;
}

/* img.shirt  {
display: grid;
grid-template-columns: auto;
width: 100% ;
} */

/* Gallery code below  */
.cards {
  margin: 0 auto;
  /* max-width: 1000px;  */
  display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: subgrid;
  grid-column: 1 / 13;
  grid-row: 2 / 3;  
  gap: 10px;
  justify-content: center;
}

.card {
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.card__image {
  width: 100%;
  display: block;
}
.card__content {
  line-height: 1.5;
  font-size:0.9em;
  padding:15px;
  background: #fafafa;
}
.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type{
  margin-bottom: 0;
}

.card__info {
    padding: 15px;
    display: flex;
    align-items: center;
    color: #555555;
    justify-content: space-between;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #cccccc;
}

/* .card__info i {
  font-size: 0.9em;
  margin-right: 8px
  } */

  .card__link {
    color: #64968c;
    text-decoration: none;
  }
.card__link :hover {
  text-decoration: underline;
}  

h1 {
  padding: 10px;
}