/* Skeleton of pages below */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
nav#original.navigation,
h1 {
  grid-column: 4 / 10;
  grid-row: 1 / 2;
  text-align: center;
}

div.blackLogo {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  image-resolution: from-image 300dpi;
}
div.pinkLogo {
  grid-column: 10 / 13;
  grid-row: 1 / 2;
}

ul li {
  display: inline;
  list-style: none;
   padding-right: 50px;
}
h1 {
  padding: 10px;
}
footer {
  grid-column: 1/13;
  grid-row: 4 / 5;
  text-align: center;
}

div.social-media-logos {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}
nav#product-options.navigation {
  grid-column: 4/ 13;
  grid-row: 3 / 4;
}

/* gallery css below */
/* * {
  box-sizing: border-box;
} */

/* Position the image container (needed to position the left and right arrows) */
.container {
  display: grid;
  position: relative;
  grid-column: 4/13;
    grid-row: 2/4;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

