/* Skeleton of pages below */
.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
nav#original.navigation, h1 {
    grid-column: 4 / 10;
    grid-row: 1 / 2;
        text-align: center;
    }
/* Fix the images, not correctly displaying  */
div.blackLogo {
            grid-column: 1 / 4;
            grid-row: 1 / 2; 
            /* image-resolution: from-image 300dpi; */
           }
div.pinkLogo {
           grid-column: 10 / 13;
           grid-row: 1 / 2;
        }

ul li {
            display: inline;
            list-style: none;
        }
        /* Footer not responding to grid dimensons */
footer {
    grid-column: 1 / 13;
    grid-row: 4 / 5; 
}
h1{
    padding: 10px;
}

/* div#all.container {
    grid-column: 1/13 ;
    grid-row: 2/3;
} */

/* div#name.container, div#billing-address.container,div#mailing-address.container {
    display: inline;
    grid-column: 1 / 7;
    grid-row: 2 / 4;
} */
div#all.container {
    grid-column: 1 / 7;
    grid-row: 2 / 4;
}
/* columns not running span of grid-column dimensions */
div#all2.container {
    grid-column: 7 / 13;
    grid-row: 2 / 4;
} 

/* div#product-choice.container >h2#product-Choice.heading {
    text-align: center;
} */